* {
  box-sizing: border-box;
}

*::selection {
  background: var(--bs-black);
  color: white;
}

/* Last Point */

.contenedor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #393646;
  font-family: "Montserrat", sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  gap: 10px;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #232323;
  color: #f4eee0;
  z-index: 10;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo img {
  height: 100%;
  width: 200px;
  padding-top: 10px;
  object-fit: cover;
  filter: invert(1);
}

.logo .logo-text {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-size: 25px;
  padding-bottom: 10px;
}

.logo-title {
  height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  gap: 10px;
}

.logo-title * {
  font-size: 30px;
}

.logo-buttons {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-buttons button:hover {
  background: #11111191;
}

.btn-edit {
  width: 40%;
  height: 50px;
  border-radius: 5px;
  transition: 0.1s;
  border: 1px gray solid;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-edit:active {
  transform: scale(0.95);
}

.contenido-traductor {
  position: relative;
  margin-top: 80px;
  width: 100%;
  height: 87.6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor .box {
  position: relative;
  padding: 30px;
  width: 80%;
  background: #232323;
  box-shadow: 0px 0px 4px white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: -15px;
}

.box-title {
  position: relative;
  font-family: "Jost", sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
  display: flex;
  gap: 10px;
  text-shadow: 0px 0px 10px black;
  color: white;
}

.box-title select {
  color: black;
  height: 30px;
  width: 100px;
  font-size: 16px;
  outline: none;
  border: none;
}

.box-translate {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  font-family: "Jost", sans-serif;
}

.box-translate .from {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-translate .input {
  width: 100%;
  height: 60%;
}

.box-translate .input textarea {
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 25px;
  letter-spacing: 1px;
}

.box-translate .icons {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.box-translate .icons span {
  font-size: 20px;
  padding: 5px;
  color: var(--bs-white);
  background: #393646;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.box-translate .icons span:hover {
  background: #363636;
  box-shadow: 0px 0px 5px white;
}

.icons p {
  transition: 0.3s;
}

.box-translate select {
  height: 60px;
  padding: 0px 20px;
  border-radius: 10px;
  font-size: 17px;
  outline: none;
}

.box-translate select:focus {
  box-shadow: 0px 0px 3px white;
}

.box-translate .reverse {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-translate .reverse .icon {
  padding: 5px;
  font-size: 35px;
  background: white;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: 0.1s linear;
}

.box-translate .reverse .icon:active {
  transform: scale(0.9);
}

.box-translate .to {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-blue {
  color: var(--bs-blue) !important;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px white;
}

.copy {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #393646;
  padding-left: 5px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px white;
}

.copy * {
  box-shadow: none !important;
}

footer {
  width: 100%;
  height: 4rem;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer * {
  color: gray;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer *:hover {
  box-shadow: 0px 0px 1px white;
}

@media screen and (max-width: 1000px) {

  .logo-title{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
  }

  .logo-title * {
    font-size: 16px;
  }

  .btn-edit{
    height: 30px;
    font-size: 13px;
  }

  .btn-edit *{
    font-size: 13px;
  }

  .menu{
    height: 70px;
    padding: 0px 20px;
  }

  .contenedor .box  {
    width: 100%;
    padding: 10px;
  }

  .box-translate{
    height: 220px;
  }

  .box-translate .reverse .icon{
    padding: 5px;
    font-size: 25px;
  }

  .box-translate .input textarea{
    font-size: 14px;
    padding: 10px;
  }

  .box-translate select{
    padding: 0px 10px;
    height: 40px;
  }

  .box-translate .icons span{
    font-size: 25px;
  }

  .box-translate .input{
    height: 40%;
  }

  .contenido-traductor{
    padding: 20px;
  }

}
